.tag {
  align-items: center;
  background: transparent;
  border: 1px solid var(--neutrals-neutral-100);
  border-radius: 99px;
  display: inline-flex;
  justify-content: center;
  padding: 0.3125rem 0.75rem 0.25rem;
  text-align: center;

  &,
  a {
    color: var(--neutrals-neutral-100);
    display: inline-block;
    font-size: var(--font-size-xs);
    font-weight: 500;
    letter-spacing: 0.07em;
    line-height: 120%;
    text-decoration: none;
    text-transform: uppercase;
  }
}
