// Primary dark medium is default.
.button {
  align-items: center;
  background: var(--neutrals-black);
  border: 0;
  border-radius: 99px;
  color: var(--neutrals-white);
  display: inline-flex;
  gap: var(--padding-x-small);
  justify-content: center;
  padding: var(--spacer-sm) var(--padding-medium);
  text-align: center;
  text-decoration: none;
  transition:
    background var(--speed-md) ease-out,
    color var(--speed-md) ease-out;

  .icon {
    &:before {
      font-size: var(--font-size-body-default);
    }
  }

  &:hover {
    background: var(--neutrals-surface-opaque);
    color: var(--neutrals-black);
    text-decoration: none;
  }

  &--sm {
    gap: var(--padding-x-small);
    padding: var(--padding-x-small) var(--padding-small);
  }

  &--lg {
    gap: var(--padding-small);
    padding: var(--padding-small) var(--padding-medium);
  }

  &.button--light {
    background: var(--neutrals-surface-solid);
    color: var(--neutrals-black);

    &:hover {
      background: var(--neutrals-surface-opaque);
    }
  }

  &--secondary {
    background: transparent;
    border: 1px solid var(--neutrals-black);
    color: var(--neutrals-black);

    &:hover {
      background: var(--neutrals-neutral-200);
      color: var(--neutrals-white);
    }

    &.button--light {
      background: transparent;
      border: 1px solid var(--neutrals-surface-solid);
      color: var(--neutrals-white);

      &:hover {
        background: var(--neutrals-surface-opaque);
        color: var(--neutrals-black);
      }
    }
  }

  &--filter {
    background: transparent;
    color: var(--neutrals-black);

    &.button--active {
      background: var(--neutrals-black);
      color: var(--neutrals-white);
    }

    &:hover {
      background: var(--neutrals-surface-opaque);
      color: var(--neutrals-black);
    }
  }

  &--webform {
    background: transparent;
    border: 1px solid var(--neutrals-black);
    color: var(--neutrals-black);

    &:hover {
      background: var(--neutrals-neutral-200);
      color: var(--neutrals-white);
    }

    &.button--light {
      background: transparent;
      border: 1px solid var(--neutrals-surface-solid);
      color: var(--neutrals-white);

      &:hover {
        background: var(--neutrals-surface-opaque);
        color: var(--neutrals-black);
      }
    }
  }

  &--outline {
    border: 2px solid var(--neutrals-white);
    border-radius: 6.1875rem;
  }

  &--icon-only {
    align-items: center;
    border-radius: 6.1875rem;
    display: flex;
    font-size: 0;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.75rem;

    i {
      font-size: var(--padding-small);
      height: var(--padding-medium);
      width: var(--padding-medium);
    }
  }
}
