@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/mixins';
@import '/node_modules/bootstrap/scss/variables';

$webform-selector: '.webform-submission-form';
$webform-border-radius: var(--border-radius);
$webform-border-size: 1px;
$webform-border-color: var(--neutrals-black);
$webform-focus-color: var(--primary-color);
$webform-icon-color: var(--primary-color);
$webform-label-color: var(--neutrals-neutral-300);
$webform-disabled-color: #959495;

// html is needed for cascading hierarchy.
html {
  #{$webform-selector} {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--padding-default);

    > div,
    > .form-item,
    details > .form-item,
    .form-wrapper > .form-item {
      margin-bottom: 0;
    }

    fieldset,
    fieldset.webform-composite-hidden-title {
      margin: 0;

      .fieldset-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--padding-default);
      }
    }

    label {
      color: $webform-label-color;

      /* Body/Body default */
      font-size: var(--font-size-default);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.5rem */
    }

    .form-item--error-message {
      color: red;
      margin-top: var(--padding-small);
    }

    .js-form-type-checkbox,
    .js-form-type-radio {
      margin-right: var(--padding-small);
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='url'],
    input[type='search'],
    input[type='number'],
    input[type='color'],
    select,
    textarea,
    input[type='password'],
    input[type='date'] textarea {
      box-shadow: none;
      max-width: calc(100vw - var(--padding-default));

      @include media-breakpoint-up(md) {
        max-width: calc(50vw - var(--padding-default));
      }

      @include media-breakpoint-up(lg) {
        max-width: 26.8rem;
      }
    }
  }
}
